* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.portfolio {
  display: inline-block;
  margin-top: 50px;
  margin-left: 50px;
  font-size: 22px;
}
.navbar-collapse {
  position: absolute;
  left: 450px;
}

.bg-body-tertiary {
  --bs-bg-opacity: 0;
}

.img1 {
  width: 850px;
}

.txt1 {
  position: absolute;
  font-size: 35px;
  top: 30%;
  left: 8%;
}
.txt2 {
  position: absolute;
  font-size: 20px;
  top: 35%;
  left: 8%;
}

.txt3 {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 8%;
}
.parg {
  position: absolute;
  bottom: 220px;
  font-size: 24px;
  left: 50px;
}

.txt4 {
  position: absolute;
  bottom: 160px;
  width: 600px;
  left: 50px;
}

.txt5 {
  position: absolute;
  bottom: 70px;
  width: 600px;
  left: 50px;
}

.fonts {
  display: flex;
  justify-content: right;
  display: inline-block;
  margin-left: 1200px;
  width: 400px;
  height: 100px;
}

.colors {
  display: flex;
  justify-content: right; /*не ставить*/
  display: inline-block;
  margin-top: 30px;
  margin-left: 1200px;

  width: 200px;
  height: 100px;
}
.tools {
    display: flex;
    justify-content: right;  /* те саме*/
    display: inline-block;
    margin-left: 1200px;
    margin-top: 30px;
    width: 50px;
    height: 90px;
  }